<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Blog Pogi | <%= title %></title>
</head>