<!DOCTYPE html>
<html lang = "en">

    <%- include('./partials/head.ejs')%>

    <body>

        <%- include('./partials/nav.ejs') %>

        <div class="not-found con tent">
            OY POGI, PAGE NOT AVAILABLE ;3
        </div>

        <%- include('./partials/footer.ejs') %>
        
    </body>
</html>