<html lang = "en">

    <%- include('./partials/head.ejs') %>

    <body>

        <%- include('./partials/nav.ejs') %>

        <div class="about content">
            <h1>About Us</h1>
            <p>Welcome to POGI BLOGS, where a POGI helps a fellow POGI navigate the ups and downs of life.</p>

            <br>
            <h2>About Pogi Blogs</h2>
            <p>At POGI BLOGS, we believe that true beauty comes from within, but a little guidance on the outside never hurts! 
                Our mission is to provide a platform where POGIs (Personable, Outstanding, Gorgeous, Individuals) 
                from all walks of life can come together to share experiences, advice, and tips on everything from grooming to personal development.
            </p>

            <br>
            <h2>Our Vision</h2>
            <p>We envision a world where every POGI feels confident and empowered to conquer their dreams. 
                Through our blog, we aim to foster a community where POGIs can uplift and support each other on their journey to self-improvement.
            </p>

            <br>
            <h2>Meet the Team</h2>
            <div class="team-member">
                <h3>Jerkins Genesis</h3>
                <p>Founder and Chief POGI Officer. As the driving force behind POGI BLOGS, Jerkins is dedicated to creating a space where POGIs can thrive.</p>
            </div>
            <div class="team-member">
                <h3>James Verceluz</h3>
                <p>Co-founder and Head of Content. With a passion for writing and a keen eye for style, James ensures that our content is as POGI as it gets.</p>
            </div>
            <div class="team-member">
                <h3>Stevens Anthony Fabriga</h3>
                <p>Our third team member, Stevens, brings their expertise and flair to the mix, contributing to our collective POGI wisdom.</p>
            </div>

        </div>

        <%- include('./partials/footer.ejs') %>

    </body>
</html>